<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Voluntário</title>
<!--    <link th:href="@{/css/style.css}" rel="stylesheet">-->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="panel">
    <form>
      <div class="dadosVoluntario">
        <h1>Cadastro de Voluntário</h1>
        <input class="voluntario nome" type="text" placeholder="Nome Completo" style="width: 50vw;">
        <input class="voluntario cpf" type="text" placeholder="CPF" style="width: 15vw;">
        <input class="voluntario dtNasc" type="date" placeholder="Data de Nascimento" style="width: 12vw;">
        <input class="voluntario email" type="email" placeholder="E-mail" style="width: 25vw;">
      </div>
      <div >
        <h2>Endereço</h2>
        <input class="endereco cep" type="text" placeholder="CEP" style="display:block;">
        <input class="endereco rua" type="text" placeholder="Rua" style="width: 50vw;">
        <input class="endereco numero" type="text" placeholder="Nº" style="width: 5vw;">
        <input class="endereco bairro" type="text" placeholder="Bairro">
        <input class="endereco cidade" type="text" placeholder="Cidade">
        <select>
          <option>PE</option>
        </select>
      </div>
      <div class="cadastrar"><a href="#">Cadastrar</a></div>
    </form>
  </div>
</body>
</html>